body {
	margin: 0;
	background-color: black;
	font-family: 'Times New Roman', Times, serif;
    
}

img{
	width:180px;
	height:200px;
}
.btn-primary{
	border: 2px solid red;
	border-radius: 8px;
	width: 150px;
	background-color:goldenrod;
	
}
.d-flex{
	margin-bottom: 12px;
	background-color: gainsboro;
}
